.good{
    color:forestgreen;
}
.bad{
    color:red;
}
.goodend{
    text-decoration:underline;
    text-decoration-color:forestgreen;
}
.badend{
    text-decoration:underline;
    text-decoration-color:red;
}